{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">My Wishlist</h2>
    {% if wishlist_items %}
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for item in wishlist_items %}
        <div class="col">
            <div class="card h-100">
                {% if item.product.images.first %}
                    <img src="{{ item.product.images.first.image.url }}" class="card-img-top" alt="{{ item.product.name }}">
                {% else %}
                    <img src="{% static 'images/default-product.png' %}" class="card-img-top" alt="No Image">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ item.product.name }}</h5>
                    <p class="card-text">{{ item.product.description|truncatechars:80 }}</p>
                    <div class="d-flex justify-content-between">
                        <a href="{% url 'move_to_cart' item.id %}" class="btn btn-sm btn-primary">Move to Cart</a>
                        <a href="{% url 'remove_from_wishlist' item.id %}" class="btn btn-sm btn-outline-danger">Remove</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
        <p>Your wishlist is empty.</p>
    {% endif %}
</div>
{% endblock %}